.App {
  text-align: center;
  
 

}

.hugs{
  height: 70vh;
  margin: auto;
  width: 70vw;
  background: url('hug.gif')no-repeat center center fixed;
  background-size: auto;

}

.love{
  height: 70vh;
  margin: auto;
  width: 70vw;
  background: url('love.gif')no-repeat center center fixed;
  background-size: auto;

}

.sorry{
  height: 70vh;
  margin: auto;
  width: 70vw;
  background: url('sorry.gif')no-repeat center center fixed;
  background-size: auto;

}